<%= form_for @weather, :html => {:multipart => true} do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :sound %><br />
    <%= f.file_field :sound%>
  </p>
  <% if !@weather.image.nil? %>
    <%=image_tag @weather.image.url %>
  <% end %>
  <p>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </p>

  <%= f.submit %>
<% end %>
